<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BlackBoard</title>

    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <%-include('sidebar')%>

    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/users-page">
            <i class="fas fa-fw fa-users"></i>
            <span>Clients</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/catalog-page">
            <i class="fas fa-fw fa-table"></i>
            <span>Catalogue Produits</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/orders-list-page">
            <i class="fas fa-shopping-basket"></i>
            <span>Commandes</span></a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="/charts">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Charts</span></a>
        </li>
      </ul>

      <div id="content-wrapper">

        <div class="container-fluid">

          <div class="card mb-3">
            <div class="card-header">
            <i class="fas fa-table"></i>
             Liste des commandes</div>
            <div class="card-body">
              <div class="table-responsive">
                <table id="product-list" class="table table-bordered" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Date Commande</th>
                      <th>Total</th>
                      <th>Frais de port</th>
                      <th>Payée</th>
                      <th>Date Paiement</th>
                      <th>Expédiée</th>
                      <th>Date Exp</th>
                      <th>Adresse</th>
                      <th>Ville</th>
                      <th>Code postal</th>
                      <th>Détail</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Date Commande</th>
                      <th>Total</th>
                      <th>Frais de port</th>
                      <th>Payée</th>
                      <th>Date Paiement</th>
                      <th>Expédiée</th>
                      <th>Date Exp</th>
                      <th>Adresse</th>
                      <th>Ville</th>
                      <th>Code postal</th>
                      <th>Détail</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <%for(var i=0;i<orderList.length;i++){%>
                      <tr>
                        <td><%=dateFormat(orderList[i].date_insert)%></td>
                        <td><%=orderList[i].total%>€</td>
                        <td><%=orderList[i].shipping_cost%>€</td>
                        <td class="status-secondary">
                          <% 
                          switch (orderList[i].status_payment) {
                            case 'validated':
                            classs="text-success";
                            break;
                            case 'waiting':
                            classs="text-warning";
                            break;
                            default:
                            classs="text-danger";
                          }%>
                          <i class="<%=classs%> fas fa-circle"></i></td>
                        <td><%=dateFormat(orderList[i].date_shipment)%></td>
                        <td class="text-danger status-secondary">
                          <%if(!orderList[i].status_shipment == true){%>
                          <i class="fas fa-circle"></i>
                          <%}else{%>
                          <i class="text-success fas fa-circle"></i>
                          <%}%>
                          </td>
                        <td><%=dateFormat(orderList[i].date_payment)%></td>
                        <td><%=orderList[i].delivery_address%></td>
                        <td><%=orderList[i].delivery_city%></td>
                        <td><%=orderList[i].delivery_zipcode%></td>
                        <td><a href="/order-page?id=<%=orderList[i]._id%>&articles=<%=orderList[i].articles%>">voir</a></td>
                      </tr>
                    <%}%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>


        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Blackboard</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->



    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>

  </body>

</html>
